.container {
    display: grid;
    grid-template-areas: 
      "title title"
      "imagen texto";
    grid-gap: 20px;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
  }
  
  .title {
    grid-area: title;
    text-align: center;
    padding: 10px;
  }
  
  .imagen {
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
  }
  
  .imagen img {
    max-width: 100%;
    height: auto;
  }
  
  .texto {
    grid-area: texto;
    padding: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      grid-template-areas: 
        "title"
        "imagen"
        "texto";
    }
  }
  